#main-content {
	margin: 20px;
}

#main-content > .row > .columns > p{

}

#main-content > .row > .columns > img{
	float: left;
	padding: 0px 20px 20px 0px;
}

#main-content > .row > .columns > img:after{
	content: "";
	height: 0px;
	clear: both;
}