/* -- Abstract / Modular || START || -- */
/* color stylings [bgs, colors, etc.] */
.bg-white{
	background: white;
}

.bg-light{
	background: #f7f7f7 url(../img/debut_light.png) repeat center top;
}

.bg-dark{
	background: #333 url(../img/debut_dark.png) repeat center top;
}

.color-light{
	color: #f7f7f7;
}

.color-mid{
	color: #aaa;
}

.color-mid-dark{
	color: #666;
}

.color-dark{
	color: #333;
}

.no-out{
	outline: none;
}

.brd-thin-mid{
	border: 1px solid #ccc;
}

.btm-groove{
	box-shadow: 0px 1px 0px #555, inset 0px -1px 0px #000;
}

/* text stylings */
.font-robo{
	font-family: Roboto, sans-serif;
}

.wgt-bold{
	font-weight: bold;
}

.txt-center{
	text-align: center;
}

/* spacing stylings */
.m-20px{
	margin: 20px;
}

.ft-size-0_9{
	font-size: 0.9em;
}

/* sizing stylings */
.hgt-50{
	height: 50px;
}

.ln-hgt-50{
	line-height: 50px;
}

.wid-full{
	width: 100%;
}

.rgt-35{
	right: 35px;
}

/* placement stylings */
.fl-right{
	float: right;
}

.fl-left{
	float: left;
}

.clr-both{
	clear: both;
}

.pos-rel{
	position: relative;
}

.pos-fix{
	position: fixed;
}

.pos-abs{
	position: absolute;
}

.dis-blk{
	display: block;
}

.z-front{
	z-index: 9999;
}

/* interaction stylings */
.curs-point{
	cursor: pointer;
}

/* custom complex stylings */
.hide{
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

/* Abstract / Modular || END || */

/* -- Non-abstract / Specific || START || -- */
/* very specific */
#slidein-menu{
	top: 0px;
	right: -200px;
	bottom: 0px;
	width: 200px;
}

#main-content > .row > .columns img:after{
	clear: both;
}

#main-content > .row > .columns p:before{
	content: "";
	height: 0px;
	width: 13em;
	display: block;
	overflow: hidden;
}

/* site wide / needs better solution */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a{
	color: #333;
	outline: none;
}

a:hover,
a:focus{
	color: #aaa;
}

input[type="submit"]{
	width: 100px;
	height: 35px;
}

input[type="submit"]:hover,
input[type="submit"]:focus{
	border: 1px solid #aaa;
	box-shadow: 0px 0px 10px #aaa;
}

.menu-item:hover{
	color: #999;
	background: #252525;
}

.icon-menu:hover{
	color: #aaa;
	cursor: pointer;
}

.icon-menu:after{
	content: "";
	clear:both;
	content: "\e800";
	font-size: 0.7em;
}

/* -- Non-abstract || END || -- */

/* -- Custom Web Font Icons || START || -- */
@font-face {
	font-family: 'menu-font';
	src: url('../font/menu.eot?98903651');
  src: url('../font/menu.eot?98903651#iefix') format('embedded-opentype'),
       url('../font/menu.woff?98903651') format('woff'),
       url('../font/menu.ttf?98903651') format('truetype'),
       url('../font/menu.svg?98903651#fontello') format('svg');
	font-weight: normal; font-style: normal;
}

[class*="icon-"] {
	font-family: 'menu-font';
	font-style: normal;
	font-size: 3em;
	speak: none;
}

/* -- Custom Web Font Icons || END || -- */